<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>DDR-Board-BulletinBoard</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/static/css/homestyle.css">
	<!-- <script type="text/javascript" src="/static/js/checkform.js"></script> -->
</head>

<body>

<div style="position: absolute; right: 70px; top: 40px">
{% if state == "Login" %}
	<font size=5>{{user}}</font>
{% else %}
	<!-- <font size=5>Guest</font> -->
{% endif %}
</div>

<div id="container">

<header>
<h1 id="logo"><a href="https://dodare-board.azurewebsites.net/"><img src="/static/images/logo.png" alt="DDR-Board"></a></h1>
<!-- <aside id="mainimg"><img src="/static/images/mainimg.jpg" alt=""></aside> -->
</header>

<nav id="menubar">
<ul>
<li><a href="https://dodare-board.azurewebsites.net/">Home</a></li>
<li><a href="https://dodare-board.azurewebsites.net/about">About</a></li>
<li><a href="https://dodare-board.azurewebsites.net/bulletin-board">>>Bulletin Board</a></li>
{% if state == "Login" %}
<li><a href="https://dodare-board.azurewebsites.net/logout">Logout</a></li>
{% else %}
<li><a href="https://dodare-board.azurewebsites.net/login">Login</a></li>
{% endif %}
</ul>
</nav>

<div class="row">
	<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
		<div id="contents">
			<section id="new">
				<h2>Bulletin-boad ({{date}})</h2>
				I'm creating now...
			</section>
		</div>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
		{% if state == "Login" %}
		<form method="POST" id="messege" name="messege">
			<font size=5>{{user}}</font><br>
			<textarea id="content" name="content" cols="40" rows="6" maxlength="200"\
				placeholder="up to 200" required="required"></textarea><br><br>
			<div class="button-post">
				<!-- <input type="button" onclick="submit();"\ -->
				<input type="submit" class="button" name="insert" value="insert">
			</div>
		</form>
		{% else %}
		<center><font size=5>Let's post</font><br></center>
		<div class="button-post">
			<a href="https://dodare-board.azurewebsites.net/login">
				<input type="button" class="button" name="" value="Login">
			</a>
		</div>
		{% endif %}
	</div>
</div>
<br>

<div id="contents">
<section id="new">
<h2>Bulletin-boad</h2>
    I'm creating now...
</section>

</div>
<!--/contents-->

<footer>
<small>Copyright&copy; <a href="index.html">SAMPLE SITE</a> All Rights Reserved.</small>
<span class="pr">《<a href="https://template-party.com/" target="_blank">Web Design:Template-Party</a>》</span>
</footer>

</div>
<!--/container-->

</body>
</html>
