<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>DDR-Board-Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="html">
<meta name="keywords" content="bulletin boad,dodare">
<link rel="stylesheet" href="/static/css/homestyle.css">
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>

<div id="container">

<header>
<h1 id="logo"><a href="https://dodare-board.azurewebsites.net/"><img src="/static/images/logo.png" alt="DDR-Board"></a></h1>
<!-- <aside id="mainimg"><img src="/static/images/mainimg.jpg" alt=""></aside> -->
</header>

<nav id="menubar">
<ul>
<li><a href="https://dodare-board.azurewebsites.net/">Home</a></li>
<li><a href="https://dodare-board.azurewebsites.net/about">About</a></li>
<li><a href="https://dodare-board.azurewebsites.net/bulletin-board">Bulletin Board</a></li>
{% if state == "Login" %}
<li><a href="https://dodare-board.azurewebsites.net/logout">Logout</a></li>
{% else %}
<li><a href="https://dodare-board.azurewebsites.net/login">Login</a></li>
{% endif %}
</ul>
</nav>

<div id="contents">

<section id="new">
<h2>NEWS</h2>
<dl>
<dt>2019/12/11</dt>
<dd>Fix the session function, you can login!</dd>
<dt>2019/12/10</dt>
<dd>Happen a login error, fixing bug in the session function</dd>
<dt>2019/12/9</dt>
<dd>Create a homepage part</dd>
<dt>2019/12/8</dt>
<dd>Implement login function</dd>
<dt>2019/12/7</dt>
<dd>Deploy a web-server and a database-server, set a sample page</dd>
</dl>
</section>

</div>
<!--/contents-->

<footer>
<small>Copyright&copy; <a href="index.html">SAMPLE SITE</a> All Rights Reserved.</small>
<span class="pr">《<a href="https://template-party.com/" target="_blank">Web Design:Template-Party</a>》</span>
</footer>

</div>
<!--/container-->

</body>
</html>
