<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DDR-Board-SignIn</title>
    <link rel="stylesheet" type="text/css" href="/static/css/indexstyle.css">
</head>
<body>
    Hello world.
    <div class="form-wrapper">
        <h1>Sign In to DDR-Board</h1>
        <form>
          <div class="form-item">
            <label for="user"></label>
            <input type="user" name="user" required="required" placeholder="Username"></input>
          </div>
          <div class="form-item">
            <label for="password"></label>
            <input type="password" name="password" required="required" placeholder="Password"></input>
          </div>
            <div class="button-panel">
              <input type="submit" class="button" title="Sign In" value="Sign In"></input>
            </div>
        </form>
        <div class="form-footer">
          <p><a href="#">Create an account</a></p>
          <p><a href="#">Forgot password?</a></p>
        </div>
      </div>
</body>
</html>