<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>DDR-Board-Login</title>

	<link rel="stylesheet" type="text/css" href="/static/css/homestyle.css">
</head>

<body>

<div style="position: absolute; right: 70px; top: 40px">
{% if state == "Login" %}
	<font size=5>{{user}}</font>
{% endif %}
</div>

<div id="container">

<header>
	<h1 id="logo">
		<a href="https://dodare-board.azurewebsites.net/">
			<img src="/static/images/logo.png" alt="DDR-Board">
		</a>
	</h1>
</header>

<nav id="menubar">
  <ul>
  <li><a href="https://dodare-board.azurewebsites.net/">Home</a></li>
  <li><a href="https://dodare-board.azurewebsites.net/about">About</a></li>
  <li><a href="https://dodare-board.azurewebsites.net/bulletin-board">Bulletin Board</a></li>
  <li>>>Login</li>
  </ul>
</nav>

<div class="form-wrapper">
	<div class="formtext">Login to DDR-Board</div>
	<form method="POST">
		<div class="form-item">
			<label for="user"></label>
			<input type="text" name="user" required="required" placeholder="Username"></input>
		</div>
		<div class="form-item">
			<label for="password"></label>
			<input type="password" name="password" required="required" placeholder="Password"></input>
		</div>
		<div class="button-panel">
			<input type="submit" class="button" title="Login" value="Login"></input>
		</div>
	</form>
	<div class="form-footer">
		<p><a href="#">Create an account</a></p>
		<p><a href="#">Forgot password?</a></p>
	</div>
</div>

</div>
<!--/container--

</body>
</html>